form {
    background-color: #424874;
    margin: 50px 300px;
    border-radius: 10px;
    box-shadow:  2px 5px 10px #424874 ; 
}

label {
    padding: 15px;
    font-size: 3rem;
    color: white;
    display: block;
    font-weight: 600;
}

input {
    margin: 20px;
    border-radius: 10px;
    padding: 10px;
    width: 30%;
    font-size: 1.3rem;
    color: salmon;
}

button {
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: 600;
    color: white;
    background-color: salmon;
}